@model Lab.EF.MVC.Models.CategoriesViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Categoria con ID @Html.DisplayFor(c => c.CategoryID)</h2>
<div class="form-group">
    <p class="form-control-static" style="font-size: 18px">Nombre de la categoria: <label style="font-weight: 600">@Html.DisplayFor(p => p.CategoryName, new { @class = "mt-5" })</label></p>
</div>
<label style="font-size: 16px">@Html.ActionLink("volver", "Index")</label>