@model Lab.EF.MVC.Models.CategoriesViewModel

@{
    ViewBag.Title = "Agregar";
 }

<h2>Agregar nueva categoria</h2>

<div class="form-group">
    @using (Html.BeginForm("Insert", "Category", FormMethod.Post))
    {
        <label>Nombre de la categoria</label>
        @Html.TextBoxFor(P => P.CategoryName, new { @class = "form-control", @style = "margin-bottom: 10px" })
        <input type="submit" value="Agregar" class="btn btn-primary pt-2">
        <label style="font-size: 16px"> | @Html.ActionLink("volver", "Index")</label>
    }
</div>
