@model Lab.EF.MVC.Models.ShipperViewModel

@{
    ViewBag.Title = "Borrar";
}

<h2>Estas seguro que quieres eliminar el transportista con ID : @Model.ShipperId</h2>

<div class="form-group">
    <label style="font-weight: 400" class="h4">Nombre de la compañia: @Model.CompanyName</label>
    <br/>
    <label style="font-weight: 400" class="h4">Telefono de la compañia: @Model.Phone</label>
</div>

@using (Html.BeginForm("DeleteConfirmed", "Category", new { id = Model.ShipperId }, FormMethod.Post, new { @class = "form-class" }))
{
    <input type="submit" value="Borrar" class="btn btn-danger">
    <label style="font-size: 16px"> | @Html.ActionLink("volver", "Index")</label>
}