@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">Pagina web para administrar NorthWind DB</h2>
<div style="display: flex; align-items: center; justify-content: center;">
    <img src="https://images.unsplash.com/photo-1593288942460-e321b92a6cde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" class="img-rounded img-responsive">
</div>