<div class="container body-content mt-5">
    <p class="h3">Transportista con ID {{s.ShipperID}}</p>

    <div class="form-group">
        <p class="form-control-static" style="font-size: 18px">Nombre de la compañia: {{s.CompanyName}}</p>
        <p class="form-control-static" style="font-size: 18px">Telefono de la compañia: {{s.Phone}}</p>
        <p class="form-control-static" style="font-size: 18px">Cantidad de ordenes: {{s.OrdersCount}}</p>
    </div>

    <a class="btn btn-primary mx-4" href="">Volver</a>
</div>